<form method="POST" action="api/productos">
    <div>
      <label for="title">Titulo</label>
      <input type="text" name="title" required>
    </div>
    <div>
      <label for="price">Precio</label>
      <input type="text" name="price" required>
    </div>
    <!-- <div>
      <label for="edad">Edad</label>
      <input type="text" name="edad" required>
    </div> -->
    <div>
      <input type="submit">
    </div>
</form>
