<h1 class="toplaner">Hola desde pagina principal</h1>
{{!-- traigo los componentes que tengo en Partials --}}
{{!-- {{> formulario}} --}}
{{> lista1}}
{{!-- <script src="./js/ejemplo.js"></script> --}}
