<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Luminati-Cargar Productos</title>
</head>
<body>
    <div>
        <%- include('partials/navbar');%>
    </div>
    <section class="animate__animated animate__bounceInRight bloque">
        <div class="col-12 col-md-8 col-lg-8 borde">
            <form method="POST" action="/api/productos">
                <div class="contacto-tamanio">
                    <label for="formGroupExampleInput" class="form-label">Titulo Producto</label>
                    <input type="text" class="form-control" name="title" id="formGroupExampleInput" required>
                </div>
                <div class="contacto-tamanio">
                    <label for="formGroupExampleInput2" class="form-label">Precio Producto</label>
                    <input type="number" class="form-control" name="price" id="formGroupExampleInput2" required>
                </div>
                <div class="contacto-tamanio">
                    <label for="formGroupExampleInput2" class="form-label">Url imagen Producto</label>
                    <input type="text" class="form-control" name="img" id="formGroupExampleInput3" required>
                </div>
                <!-- <input type="submit"> -->
                <input id="enviar" type="submit" value="enviar formulario">
                <input type="reset" value="Limpiar formulario">
            </form>
        </div>
    </section>    
</body>
</html>
