<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="./css/styles.css">
    <title>Luminati-Productos</title>
</head>

<body>
  <div>
    <%- include('partials/navbar'); %>
  </div>

  <div class="container">
    <div class="row">
      <% data.forEach(function(data){ %>
        <div class="col-12 col-md-6 col-lg-3 prod">
          <img src=<%= data.img %> alt="escritorio1" class="imagenProd">
          <p class="tituloProd"><%= data.title %></p>
          <div class="item-details">
              <h4 class="precioProd">Precio $<%= data.price %></h4>
          </div>
      </div>
      <% }); %>
    </div>
  </div>
</body>

</html>