<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <title>Luminati</title>
        <meta name="viewport" content="width=devide-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        {{!-- <link rel="stylesheet" type="test/css" href="../../public/css/styles.css"> --}}
    </head>
    <body>
        layout index
        {{{body}}}
        {{!-- traigo footer desde partials --}}
        {{!-- {{> footer}} --}}
    </body>
    {{!-- <script src="./js/ejemplo.js"></script> --}}
</html>